<!doctype html>
<html lang="en">
<head>
  {% block head %}
  <title>{% block title %}Main Page{% endblock %} - My Site!</title>
  {% endblock %}
  {% assets "css_all" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
</head>
<body>
{% block body %}
{% endblock %}
{% assets "js_all" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
</body>
</html>
