{% extends 'base.html' %}
{% block body %}
<div class="grid-frame">
  <div class="small-2 grid-block align-center" id="block1">Block 1</div>
  <div class="small-8 grid-block align-center" id="block2">
    <div class="grid-block"></div>
  </div>
  <div class="small-2 grid-block align-center" id="block3">
    <p>Hello I am index guy</p>
  </div>
</div>
{% endblock %}
